.ui-state-default {
   line-height: 2rem;
}
.ui-datepicker-unselectable {
   width: 2.5rem;
   text-align: center;
   padding: 0;
   color: #beb9b9;
   cursor: no-drop;
}
.ui-datepicker-year {
   padding: 2px !important;
   padding-left: 10px !important;
   border-radius: 10px;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
   background: #9dd84d;
   color: #ffffff;
}
.ui-datepicker-calendar tbody td a:hover {
   background: #feceec;
   color: #ffffff;
}
.ui-datepicker-calendar tbody td a.ui-state-highlight {
   color: #ffffff;
   border: 1px solid #97005e;
   background: #97005e;
}
.ui-datepicker-month,
.ui-datepicker-year,
.ui-datepicker-calendar thead tr th span {
   font-family: "Poppins-SemiBold";
   font-size: 12px;
   font-weight: 600;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: normal;
   text-align: left;
   color: #970a5e;
}
.ui-datepicker-calendar tbody td a,
.ui-state-default {
   font-family: "Poppins-SemiBold";
   font-size: 12px;
   font-weight: 600;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: normal;
   text-align: center;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 2px;
}
.ui-datepicker {
   // border: none;
}
.ui-datepicker-calendar {
   width: 260px !important;
   min-height: 180px !important;
}
.ui-datepicker-header a.ui-corner-all {
   text-decoration: none;
   top: 15px;
}