/* Font Color  */
$primary-color: #97005e;
$secondary-color: #f7deed;
$teritiary-color: #fcedf5;

// Font
$F-SB: "Raleway-SemiBold";
$F-M: "Raleway-Medium";
$F-R: "Raleway-Regular";
$F-EX: "Raleway-ExtraBold";
$F-B: "Raleway-Bold";

/* Box Shadow */
$box-shadow-1: 0 3px 6px #efefef;

/* Scroll */
$scroll-background: transparent;
