/* Font Color  */
$primary-color: #f26c4f;
$secondary-color: #686868;

// Font
$F-SB: "Raleway-SemiBold";
$F-M: "Raleway-Medium";
$F-R: "Raleway-Regular";
$F-EX: "Raleway-ExtraBold";
$F-B: "Raleway-Bold";

/* Box Shadow */
$box-shadow-1: 0 3px 6px #efefef;

/* Scroll */
$scroll-background: transparent;

$hs-primary: #97005E;
$hs-secondary: #FECEEC;
$calendar-color:#9DD84D;
