.footer-big {
   ul {
      padding: 0;
      margin: 0;
   }
   li {
      list-style: none;
   }
   a:focus,
   a:hover {
      text-decoration: none;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
   }
   a:focus {
      outline: 0;
   }
}
.footer-big {
   padding: 63px 24px 85px;
}
.footer-big .footer-widget {
   margin-bottom: 30px;
}
.footer--light {
   background: #000000;
}

.footer-menu ul li a {
   text-align: left;
   font: normal normal 300 14px/24px Poppins;
   letter-spacing: 0.7px;
   color: #dfd6dc;
   font-family: Poppins-Light;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   text-transform: capitalize;
}
.footer-menu ul li a:hover {
   color: #ffffff;
}
.footer-menu--1 {
   width: 100%;
}
.footer-menu {
   ul li {
      @media (min-width: 767px) {
         padding: 2px 0;
      }
   }
}
.footer-widget-title {
   text-align: left;
   font: normal normal bold 16px/24px Poppins;
   letter-spacing: 0.32px;
   color: #dfd6dc;
   font-family: Poppins-Bold;
   text-transform: uppercase;
}

// subscribe box css begins here
.m-subscribe-box {
   border-radius: 8px;
   background-color: transparent;
   margin-bottom: 40px;
   .subscribe-title-box {
      .subscribe-title-head {
         text-align: left;
         font: normal normal bold 16px/21px Poppins;
         letter-spacing: 0.32px;
         color: #f7f7f7;
         margin-bottom: 5px;
         font-family: Poppins-Bold;
      }
      .subscribe-title-text {
         text-align: left;
         font: normal normal normal 14px/21px Poppins;
         letter-spacing: 0.28px;
         color: #f7f7f7;
         margin-bottom: 15px;
         font-family: Poppins-Regular;
      }
   }
   .subscribe-input-box {
      .privacy-statement {
         font-family: Poppins-Light;
         font-size: 14px;
         font-weight: 300;
         font-stretch: normal;
         font-style: normal;
         line-height: 1.5;
         letter-spacing: 0.24px;
         text-align: left;
         color: #f7f7f7;
         span {
            color: #97005e;
         }
      }
      input[type="text"] {
         width: 80%;
         @media (min-width: 768px) {
            width: 100%;
         }
         padding: 8px 20px;
         margin: 8px 0;
         display: inline-block;
         border: 0;
         box-sizing: border-box;
         font-family: Poppins-Regular;
         font-size: 14px;
         border-radius: 15px;
         &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            font: normal normal normal 14px/24px Poppins;
            letter-spacing: 0.28px;
            color: #000000;
            opacity: 0.43;
            text-align: center;
            font-family: Poppins-Regular;
         }

         &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font: normal normal normal 14px/24px Poppins;
            letter-spacing: 0.28px;
            color: #000000;
            opacity: 0.43;
            text-align: center;
            font-family: Poppins-Regular;
         }

         &::-ms-input-placeholder {
            /* Microsoft Edge */
            font: normal normal normal 14px/24px Poppins;
            letter-spacing: 0.28px;
            color: #000000;
            opacity: 0.43;
            text-align: center;
            font-family: Poppins-Regular;
         }
      }
      input[type="submit"] {
         width: 100%;
         padding: 8px 10px;
         display: inline-block;
         border: 0;
         box-sizing: border-box;
      }

      //   custom checkbox begins here
      .checkbox-wrapper {
         display: block;
         position: relative;
         padding-left: 25px;
         margin-bottom: 12px;
         cursor: pointer;
         font-size: 22px;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
      }

      /* Hide the browser's default checkbox */
      .checkbox-wrapper input {
         position: absolute;
         opacity: 0;
         cursor: pointer;
         height: 0;
         width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
         position: absolute;
         top: 0;
         left: 0;
         height: 16px;
         width: 16px;
         background-color: #ffffff;
         border: solid 1px #d7d7d7;
         border-radius: 3px;
      }

      /* On mouse-over, add a grey background color */
      .checkbox-wrapper:hover input ~ .checkmark {
         background-color: #ffffff;
         border: solid 1px #d7d7d7;
      }

      /* When the checkbox is checked, add a blue background */
      .checkbox-wrapper input:checked ~ .checkmark {
         background-color: #ffffff;
         border: solid 1px #d7d7d7;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
         content: "";
         position: absolute;
         display: none;
      }

      /* Show the checkmark when checked */
      .checkbox-wrapper input:checked ~ .checkmark:after {
         display: block;
      }

      /* Style the checkmark/indicator */
      .checkbox-wrapper .checkmark:after {
         left: 5px;
         top: 1px;
         width: 4px;
         height: 10px;
         border: solid #97005e;
         border-width: 0 1px 1px 0;
         -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
      }
      //   custom checkbox ends here

      input[type="submit"] {
         background-color: #4caf50;
         color: white;
         border: none;
      }

      input[type="submit"]:hover {
         opacity: 0.8;
      }
      .subscribe-checkbox-panel {
         display: flex;
         padding: 15px 0;
         label {
            font-family: Poppins-Light;
            font-size: 12px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.24px;
            text-align: left;
            color: #f7f7f7;
         }
      }
      .subscribe-btn-box {
         margin: 2px 0 16px;
         background-color: #97005e;
         margin-bottom: 40px;
         border-radius: 15px;
         width: 80%;
         @media (min-width: 768px) {
            width: 100%;
         }
         .subscribe-btn {
            border: none;
            outline: none;
            background-color: transparent;
            font-family: Poppins-Medium;
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
         }
      }
   }
}
// subscribe box css ends here
/* footer social icons  section begins here*/

ul.approval-Panel {
   margin-bottom: 18px;
   li {
      display: inline;
      margin-right: 10px;
   }
}

ul.social-network {
   list-style: none;
   margin-left: 0 !important;
   margin-bottom: 35px;
   @media (max-width: 767px) {
      margin-bottom: 32px;
      margin-top: 28px;
   }
}

ul.social-network li {
   display: inline;
   margin: 0 5px;
}

.social-circle li i {
   margin: 0;
   line-height: 30px;
   text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
   -moz-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   -ms--transform: rotate(360deg);
   transform: rotate(360deg);
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;
   -ms-transition: all 0.2s;
   transition: all 0.2s;
}

.social-circle i {
   color: #595959;
   -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
   -o-transition: all 0.8s;
   -ms-transition: all 0.8s;
   transition: all 0.8s;
}
.copyrightText {
   text-align: left;
   font: normal normal normal 12px/18px Poppins;
   letter-spacing: 0px;
   color: #ffffff;
   opacity: 1;
   font-family: Poppins-Regular;
}

/* footer social icons  section ends here*/
