.leadsTotal {
   padding-top: 15px;
   /* Style the tab */
   .leadsTab {
      overflow: hidden;
      width: 168px;
      /* height: 30px; */
      -o-object-fit: contain;
      object-fit: contain;
      border-radius: 6px;
      background-color: #fcedf5;
      padding: 3px 4px 3px;
      // margin-bottom: 8px;
   }

   /* Style the buttons inside the tab */
   .leadsTab .leadsTablinks {
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
      width: 78px;
      height: 36px;
      object-fit: contain;
      border-radius: 6px;
      background-color: $teritiary-color;
      font-family: Poppins-Regular;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 3.13;
      letter-spacing: normal;
      text-align: center;
      color: #222;
   }

   /* Change background color of buttons on hover */
   .leadsTab .leadsTablinks:hover {
      background-color: #ffffff;
   }

   /* Create an active/current tablink class */
   .leadsTab .leadsTablinks.active {
      background-color: $primary-color;
      color: #fff;
   }

   /* Style the tab content */
   .leadsTabcontent {
      display: none;
      padding: 6px 12px;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
   }

   /* Fade in tabs */
   @-webkit-keyframes fadeEffect {
      from {
         opacity: 0;
      }
      to {
         opacity: 1;
      }
   }

   @keyframes fadeEffect {
      from {
         opacity: 0;
      }
      to {
         opacity: 1;
      }
   }
}
