* {
   box-sizing: border-box;
}

.d-verticalNavbar {
   display: flex;
   flex-direction: row;
   margin-top: 103px;
   /* Style the tab */
   .tab {
      background-color: #ffffff;
      width: 176px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 36px;
      padding-bottom: 36px;
      position: fixed;
      top: 103px;
      left: -10px;
   }

   /* Style the buttons that are used to open the tab content */
   .tab .tablinks {
      display: block;
      // background-color: inherit;
      // color: black;
      // padding: 22px 16px;
      // width: 100%;
      border: 1px solid #f7deed;
      outline: none;
      // text-align: left;
      cursor: pointer;
      transition: 0.3s;

      width: 90px;
      height: 80px;
      object-fit: contain;
      border-radius: 9px;
      background-color: #f7deed;
      margin-bottom: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      img {
         margin-bottom: 12px;
      }
      p {
         font-family: Poppins-Medium;
         font-size: 10px;
         font-weight: 500;
         font-stretch: normal;
         font-style: normal;
         line-height: 1.6;
         letter-spacing: normal;
         text-align: center;
         color: #000;
         margin-bottom: 8px;
      }
   }

   /* Change background color of buttons on hover */
   .tab .tablinks:hover {
      background-color: #fff;
      border: 1px solid #97005e;
      color: #97005e;
   }

   /* Create an active/current "tab .tablinks" class */
   .tab .tablinks.active {
      background-color: $primary-color;
      .whiteImg {
         display: block;
      }
      .blackImg {
         display: none;
      }
      p {
         color: #ffffff;
      }
   }

   /* Style the tab content */
   .tabcontent {
      margin-left: 166px;
      padding: 36px 32px;
      width: 100%;
   }
   .whiteImg {
      display: none;
   }
   .blackImg {
      display: block;
   }
}
